.footer{
    display: flex;
    flex-direction: row;
    background-color: #000000;
    color: white;
    width: auto;
    flex-wrap: wrap;
}
.footer{
    margin: 0;
    text-align: center;
}
.footer > div{
    width: 50%;
}
#ContContactos1{
    font-size: 24px;
    position: static;
    flex-grow: 1;
}


/*Estilos Redes Sociales*/
.RedesSociales{
    text-decoration: none;
    margin: 10px auto;
    width: 2cm;
    height: 2cm;
    z-index: 10;
    color: white;
}
/*Estilos Ubicación*/
#Ubicacion{
    font-size: 24px;
    flex-grow: 1;
}
#Ubicacion a i {
    color: white;
    border: 2px solid white;
    padding: 10px;
}
#Ubicacion a{
    text-decoration: none;
}

/*Tarjetas de pago */
#Tarjetas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#Tarjetas > span{
    display: block;
}
.img-tarjetas{
    width: 3cm;
    height: 1.5cm;
}

