table{
    border-collapse: collapse;
    margin: 0 auto;
    width: 70%;
    height: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
th,td{
    border: 3px solid black;
    padding: 10px;
}
th{
    font-size: 1cm;
    background-color: rgba(159, 96, 51, 0.918);
    color: white;
}
td{
    font-size: 25px;
}
.CeldaGris{
    background-color: rgba(231, 214, 214, 0.927);
}

/*CARRUSEL*/
#Carrusel{
    display: flex;
}
ul{
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 0 1cm;
    overflow-x: auto;
    
}
.contenedor{
    list-style: none;
    display: block;
    margin-right: 3cm;
}
.service_image{
    width: auto;
    height: 5cm;
}
/*Quitar barra de desplazamiento del CARRUSEL*/
ul::-webkit-scrollbar{
    display: none;
}

.button-carrusel{
    width: 1cm;
    height: 2cm;

    margin: auto 0;

    border-radius: 0.5cm;

    background-color: black;
    color: white;
}

@keyframes borde{
    0% {border-radius: 0.5cm}
    100% {border-radius: 0.2cm}
}

.button-carrusel:hover{
    animation: borde;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}