/*Cuadro de imagenes*/
#CuadroImagenes{
    padding-top: 3.9cm;
    z-index: 0;
    height: auto;
    display: block;
  }
  #CuadroImagenes div > img{
    display: block;
    width: calc(100vw/6);
    z-index: 0;
  }
  #CuadroFila1{
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 0;
  }
  #CuadroFila2{
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 0;
  }

  /*Fondo y escrito delante del cuadro de imagenes*/
  #CuadroTexto{
    position: absolute;
    width: 100vw;
    height: auto;
    top: 14%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    z-index: 1;
  }
  #CuadroTexto > legend{
    text-align: center;
    padding: 10% 10%;
    font-size: calc((100vw/11));
    color: white;
    width: auto;
    z-index: 1;
  }
  
  



